# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production
build/
dist/
.expo/
.expo-shared/

# Misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# IDEs
.idea/
.vscode/
*.swp
*.swo
*~
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db

# React Native
.watchmanconfig
local.properties

# Android
android/build/
android/.gradle
android/.idea
android/*.iml
android/local.properties
android/captures/
*.apk
*.aab

# iOS
ios/Pods/
ios/Podfile.lock
ios/build/
*.ipa

# Gradle
.gradle/
build/

# Temporary files
tmp/
temp/
*.log